# This is a Docker Compose file for local development.
services:

  mkdocs:
    build:
      context: .
      dockerfile: Dockerfile.mkdocs
    ports:
      - "8766:8766"
    volumes:
      - .:/project
    working_dir: /project
    restart: unless-stopped