# site
site_name: GitEHR
site_url: https://gitehr.org/

# repo
repo_url: https://github.com/gitehr/gitehr
repo_name: gitehr/gitehr
edit_uri: edit/main/docs/

copyright: >
  GitEHR is copyright &copy; 2022-25 Baw Medical Ltd, licensed under <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a> (GitEHR concepts and data) or <a rel="license" href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPL-3.0</a> (GitEHR code).

theme:
  features:
    - content.action.edit # explicitly adds edit button (Material4MkDocs9.0)
    - content.action.view # explicitly adds view button (Material4MkDocs9.0)
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - navigation.footer # explicitly adds footer prev/next (Material4MkDocs9.0)
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - toc.follow


  name: material

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: amber
      accent: deep orange
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: amber
      accent: deep orange
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

# TODO: consider removing glossary auto-appended snippets and replace them with hyperlinks
# to either a glossary page or external resources. eg. it's more helpful to link to Git
# than to have a tooltip that explains it is a DVCS
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.snippets:
      auto_append:
        - docs/includes/glossary.md
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg